<html>
<head>
  <title>PayMe CurrencyConverter</title>
</head>
<body>
  <header>
    <span class="company-name">PayMe Currency Converter</span>
  </header>
  <currency-selector [rates]="rates" [changeSelectedCurrency]="changeSelectedCurrency" [changeSelectedAmount]="changeSelectedAmount" [selectedAmount]="selectedAmount"></currency-selector>
  <currency-results [rates]="rates" [selectedCurrency]="selectedCurrency" [selectedAmount]="selectedAmount"></currency-results>
  <div *ngIf="loading">
    Loading...
  </div>
</body>
</html>
